html, body {
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 35px;
  color: #2e3137;
}

nav {
  background-color: red;
}

.navbar-default{
  transition:500ms ease;
  background:transparent;
}
.navbar-default.scrolled{
  background:#ffffff;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.scrolled a  {
    color: #333333;
}

.scrolled ul {
  margin-bottom:  0;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link {
    color: #ffffff;
}

.navbar-toggler {
    background-color: #ffffff;
  }

a {color: #E70F47;}

a:hover {text-decoration: none;}

h1, h2 {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #122693;
}

h4 {
    font-size: 26px;
    margin-bottom: 20px;
}

h5 {
  margin: -20px 0 30px 0
}

ul {
  margin-left: -35px;
}

ul li {
  list-style: none;
  margin-bottom: 15px;
}

i {
  font-size: 26px;
  margin-right: 10px;
  color: #d8d8d8;
  width: 35px;
}

.marginAuto {
  margin: auto;
}

.padding-none {
  padding: 0;
}

.padding-left-10p {
  padding-left: 10%;
}

.margin-left-8p h2 {
  margin-left: 8%;
}

.relative {
  position: relative;
}

.text-align-left {
  text-align: left !important;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.min-height-350 {
  min-height: 350px !important;
}

.width100p {
  margin-bottom: 20px;
  width: 100%;
}

.fixed-menu {
  position: fixed;
  z-index: 9999;
}

.lightGrey {background-color: #bed4e5; padding: 50px 0 50px 0}
.darkGrey {background-color: #24262A;}

.lightGrey img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.lightGrey i {
  color: #f9007a;
}

.btn:hover {
    color: #ffffff;
  }

.carousel-indicators li {
  border: 1px solid red;
  width: 10px;
  height: 10px;
  border: 1px solid #f9007a;
  border-radius: 20px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators .active {
  background-color: #f9007a;
}

.white-bg {
  background-color: #f8f8f8;
  padding: 20px;
  display: block;
  border-radius: 20px;
  font-size: 16px;
}

.whiteBox {
  background-color: #ffffff;
  width: 50%;
  padding: 40px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
  border-radius: 10px;
}

.width95p {
  width: 95%;
}

.blue-bg {
  background-color: #1E90FF;
  color: #ffffff;
  padding: 20px;
  display: block;
  border-radius: 10px;
  text-align: center;
}

.blue-bg:hover {
  background-color: #f9007a;
}

.container {
  max-width: 1300px;
}

.container-small {
  width: 890px;
}

.parallax {
  /* The image used */
  background-image: url("../images/dog.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pinkDivider {
  border-bottom: 2px solid #f9007a;
  padding-bottom: 100px;
}

nav {
  color: #ffffff;
  font-size: 16px;
  position: fixed; width: 100%;
}

nav a {color: #ffffff;}

nav ul {
  float: right;
}

nav ul li {
  float: left;
  margin: 0 20px 0 20px;
  list-style: none;
}

header {
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../images/main.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height: auto;
  background-size: 100% auto;
  color: #ffffff;
}

.bg-light {
    background-color: #1E90FF !important;
}

.logo img {
  width: 30%;
}

.headerBlock {
  margin: 15% auto;
  width: 65%;
}

.headerBlock {
  display: inline-block;
  margin-top: 17%;

}

.headerBlock h1 {
  font-size: 48px;
  color: #ffffff;
  font-weight: 100;
  line-height: 46px;
}

.headerBlock h1 strong {
  font-weight: bold;
}

.headerBlock h3 {
  font-size: 64px;
}

.headerBlock p {
  font-size: 22px;
  margin-bottom: 30px;
}

.headerBlock a {
  font-size: 18px;
  background-color: #E70F47;
  padding: 10px 20px;
  border-radius: 20px;
  color: #ffffff;
  float: left;
  margin-right: 3%;
}

.headerBlock a:hover {
  background-color: #1E90FF;
}

.pinkBtn {
  background-color: #f9007a;
  color: #ffffff;
  display: block;
  margin-top: 50px;
  padding: 15px
}

.pinkBtn:hover {
  background-color: #1E90FF;
}

.blueBtn {
  background-color: #0056b3 !important;
}

.blueBtn:hover {
  background-color: #1E90FF !important;
}

.headerBlock img {
  width: 90px;
  float: left;
  margin-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". .";
}

.grid-container-decision {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}


.card {
    margin: 10px;
    float: left;
    font-size: 16px;
    width: 400px;
  }

.support .card-body {
  min-height: 395px;
}

footer {
  color: #ffffff;
  min-height: 150px;
  padding: 50px 0 50px 0;
  font-size: 14px !important;
}

footer h6 {
  margin-bottom: 20px;
}

footer ul {
  margin: 0 0 10px 0;
  padding: 0;
}

footer li {
  list-style: none;
}
footer i {
  margin-right: 10px;
  font-size: 14px;
}

.standoutText li {
  background: url('../images/tick.png') no-repeat left top; /* <-- change `left` & `top` too for extra control */
  padding: 0 0px 30px 40px;
  /* reset styles (optional): */
  list-style: none;
  margin: 0;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.carousel-control-prev {
    left: -110px;
}

.carousel-control-next {
    right: -110px;
}

.pinkCircle {
  width: 100px;
  height: 100px;
  background-color: #f9007a;
  border-radius: 100px;
  position: absolute;
  left: -44px;
  top: -20px;
  z-index: 0;
}

/* testimonial */

.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1E88E5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}

.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.item {
    display: none
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}

.item.show {
    display: block;
    transition-duration: 0.4s
}

.owl-carousel h5 {
  margin-bottom: 5px;
}

.owl-carousel h6 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f9007a;
}

.carousel-inner {
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}

small, .small, .hs-form .legal-consent-container, .hs-form .hs-error-msgs label {
    font-weight: inherit;
}
.text-left {
    text-align: left !important;
}
small, .small, .hs-form .legal-consent-container, .hs-form .hs-error-msgs label {
    font-size: 80%;
    font-weight: 400;
}
footer {
    background-color: #2e3137;
    color: white;
    padding: 55px 50px;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

footer .footer-logo {
    width: 40px;
    margin-bottom: 10px;
}

footer a {
  color: #ffffff;
}

/* ***** MEDIA QUERIES ***** */



@media only screen and (max-width: 1470px) {

.carousel-control-prev, .carousel-control-next {
  display: none;
}

.carousel-indicators {
  display: flex;
}

}

@media only screen and (max-width: 1280px) {

  .blueBlock-image {
    top: -109px;
}

.blueBlock-image img {
    width: 100%;
}

.owl-stage .card {
    width: 80%;
    float: none;
    margin: auto;
}

.card {
    width: 47%;
}

}

@media only screen and (max-width: 1083px) {

  header {
      height: 100%;
      background-size: auto 100%;
  }

  .carousel-control-next {
    right: 0px;
}

.carousel-control-prev {
    left: 0;
}

  .headerBlock {
    margin: 34% auto;
    width: 90%;
    margin-bottom: 140px;
}

.container-small {
  width: 90%;
}

}

@media only screen and (max-width: 991px) {

  .navbar-nav {
      width: 40%;
      text-align: center;
  }

}


@media only screen and (max-width: 861px) {

  .headerBlock {
      width: 100%;
    }

    .support .card-body {
    min-height: 285px;
}

.whiteBox {
    width: 80%;
  }

.padding-none-mobile {
  padding: 0;
}

  footer h6 {
    margin-bottom: 20px;
    margin-top: 20px;
}


.headerBlock {
    display: inline-block;
}

.container {
    max-width: 100%;
}

.card {
width: 90%;
margin: auto;
margin-bottom: 50px;
float: none;
}

}



@media only screen and (max-width: 794px) {

  header {
      height: 100%;
      background-size: auto 100%;
  }

  .grid-container {
      display: block;
    }

  .logo img {
      width: 150px
    }
nav ul li {
    margin: 10px;
  }

.margin-bottom-100 {
    margin-bottom: 35px;
}

.standoutText {
    width: 95%;
}


h1 {
    margin-bottom: 10px;
  }

  .headerBlock p {
    font-size: 22px;
    margin-bottom: 15px;
}

.headerBlock a {
    margin-bottom: 7px;
}

.headerBlock {
    display: inline-block;
}

.blue-bg {
    min-height: 130px;
}

.mobileHide {
  display: none;
}

.whiteBox {
    margin-top: 0;
  }

.container {
    max-width: 90%;
}

}


@media only screen and (max-width: 740px) {

  body {
    font-size: 16px;
    line-height: 30px;
  }

  .headerBlock h1 {
    font-size: 36px;
    line-height: 38px;
}

.whiteBox {
    margin-top: 30px;
}

.headerBlock p {
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 26px;
}

h3 {
    font-size: 26px;
    line-height: 40px;
  }

  .pinkBtn {
    margin-top: 0;
  }


}


@media only screen and (max-width: 576px) {

  .headerBlock {
    margin: 24% auto;
  }

  .fixed-top {
    right: 0;
}

  .grid-container-decision {
    display: block;
  }

  .blue-bg {
    width: 100%;
    margin-bottom: 20px;
    min-height: inherit;
}



}


@media only screen and (max-width: 552px) {

h2, h3, h4, .owl-carousel h6 {
    font-size: 21px;
    line-height: 32px;
}

body {
    font-size: 14px;
  }

.parallax {
    background-image: url(../images/dog.jpg);
    min-height: 410px;
  }

  .headerBlock {
    margin: 34% auto;
  }

}

@media only screen and (max-width: 509px) {

nav {
    font-size: 12px;
}


  nav ul li {
      margin: 7px;
  }

h1, h2, h3, h4 {
    font-size: 18px;
  }

h5 {
    font-size: 15px;
    line-height: 22px;
}

.carousel-control-prev {
    left: -30px;
}

.carousel-control-next {
    right: -22px;
}

}

@media only screen and (max-width: 437px) {

.headerBlock {
    margin: 45% auto;
}

  .headerBlock h1 {
    font-size: 35px;
    line-height: 40px;
}

h1 {
  margin-bottom: 30px;
}

.headerBlock p {
    display: none;
  }

  .headerBlock a {
    text-align: center;
}

.pinkBtn {
    margin-top: 0;
}

.card {
    width: 100%;
    font-size: 14px;
  }

.card h4 {
    font-size: 18px;
}

  h1, h2, h3 {
    font-size: 22px;
}

h4 {
  font-size: 20px;
}

.white-bg {
    font-size: 14px;
}

.whiteBox {
    width: 100%;
}

.parallax {
    min-height: 480px;
}

.owl-dots {
  display: block;
}

.owl-nav {
  display: none;
}


}

@media only screen and (max-width: 380px) {

  .headerBlock a {
    font-size: 16px;
  }

}
